form{
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    margin-bottom: 0;
    padding: 0;
}
img{
    width: 500px;
    height: 350px;
    margin: 20px 0;
    border-radius: 10%;
}